html {
  scroll-behavior: smooth;
}

#ABOUTME,
#PROJECTS,
#CONTACT {
  margin-bottom: 500px;
}

#jumbotron-home {
  background-image: url("../img/jumbotron-home.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
